<% if(post && post.btns){ %>
  <div class='new-meta-item link-btns'>
    <% if(post.btns.edit){ %>
      <a class='btn flat-box' href='<%- post.btns.edit %>' style='background: <%- theme.meta.btns.edit.color %>'>
        <i class='<%- theme.meta.btns.edit.icon %>' aria-hidden='true'></i>
        <p><%- theme.meta.btns.edit.title %></p>
      </a>
    <% } %>
    <% if(post.btns.md5){ %>
      <a class='btn flat-box' href='<%- post.btns.md5 %>' style='background: <%- theme.meta.btns.md5.color %>'>
        <i class='<%- theme.meta.btns.md5.icon %>' aria-hidden='true'></i>
        <p><%- theme.meta.btns.md5.title %></p>
      </a>
    <% } %>
    <% if(post.btns.imgbed){ %>
      <a class='btn flat-box' href='<%- post.btns.imgbed %>' style='background: <%- theme.meta.btns.imgbed.color %>'>
        <i class='<%- theme.meta.btns.imgbed.icon %>' aria-hidden='true'></i>
        <p><%- theme.meta.btns.imgbed.title %></p>
      </a>
    <% } %>
    <% if(post.btns.friends){ %>
      <a class='btn flat-box' href='<%- post.btns.friends %>' style='background: <%- theme.meta.btns.friends.color %>'>
        <i class='<%- theme.meta.btns.friends.icon %>' aria-hidden='true'></i>
        <p><%- theme.meta.btns.friends.title %></p>
      </a>
    <% } %>
  </div>
<% } %>
