<%- partial('_pre') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Linhk1606/blog-cdn@0.0.6.2/css/layui.css"  media="all">
<script src="https://www.layuicdn.com/layui/layui.js" charset="utf-8"></script>
<style>
.article ul>li { list-style: none; }

.article .layui-timeline-title a {
    text-decoration: none;
    border: none;
    padding: 4px 2px;
    border-radius: 4px;
    color: #444;
    transition: all .28s ease;
    -moz-transition: all .28s ease;
    -webkit-transition: all .28s ease;
    -o-transition: all .28s ease
}
.article .layui-timeline-title a:hover {
    color: #2196F3;
    background: rgb(166 213 250)
}
</style>
<div class='l_main no_sidebar'>
	<% if (page.year || page.month) { %>
	<%- partial('_partial/archive') %>
	<% } else { %>
	<article id="archive-page" class="post article white-box reveal <%- theme.style.body.effect.join(' ') %>">
	<ul class="layui-timeline">
	     <%
		var year = -1, postid = -1;
	        site.posts.sort('date', -1).each(function(post) {
	          post.year = date(post.date, 'YYYY');
	          if (post.year && post.year !== year) { %>
		
		    </ul>
	           <% year = post.year;
	      %>
			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
			  <legend><%= year %></legend>
			</fieldset>
			<ul class="layui-timeline">
			<%  } %>
			
				<li class="layui-timeline-item">
				<% if (post.yuque) { %>
				<i class="fad fa-dove fa-fw layui-timeline-axis"></i>
				<% } else { %>
				<i class="fad fa-circle fa-fw layui-timeline-axis"></i>
				<% } %>
    				<div class="layui-timeline-content layui-text">
					<div class="layui-timeline-title">
					<time><%= date(post.date, 'MM-DD') %></time>
					&nbsp;&nbsp;

					<a href="<%= url_for(post.link || post.path) %>"><span class="title">
						<% if(post.title){ %>
						<%- post.title %>
						<% } else if (post.date) { %>
						<%= date(post.date, config.date_format) %>
						<% } %>
						</span></a>
						
						<% if(theme.plugins.aplayer && theme.plugins.aplayer.enable && post.music && post.music.enable != false){ %>
						&nbsp;&nbsp;<i class="far fa-headphones-alt music" aria-hidden="true"></i>
						<% } %>
						<% if (post.yuque) { %>
						&nbsp;&nbsp;<i class="far fa-dove green" aria-hidden="true"></i>
						<% } %>
						<% if (post.icon) { %>
						&nbsp;&nbsp;<i class="<%- post.icon %>" aria-hidden="true"></i>
						<% } %>
						<% (post.icons && post.icons||[]).forEach(function(icon){ %>
						&nbsp;<i class="<%- icon %>" aria-hidden="true"></i>
						<% }) %>
					</div>
					<p>
					<%- post.description %>
					</p>
					</div></li>
			
			<% }); %>
			<li class="layui-timeline-item">
    <i class="fad fa-spinner-third fa-fw layui-anim layui-anim-rotate layui-anim-loop layui-timeline-axis"></i>
    <div class="layui-timeline-content layui-text">
      <div class="layui-timeline-title"><time>正在加载. . . 等等，已经没有啦~</time></div>
    </div>
  </li></ul>
			
	</article>
	<% } %>
</div>
<%- partial('_partial/side') %>
<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>


<% if (page && page.posts) { %>
<!-- 根据主题中的设置决定是否在archive中针对摘要部分的MathJax公式加载mathjax.js文件 -->
<%
	var need_mathjax = false;
	page.posts.each(function(post){
	  if (post.mathjax){
	    if (post.mathjax != "internal") {
	      need_mathjax = true;
	    }
	  }
	});
	%>

<% if (need_mathjax){ %>
<%- partial('_third-party//mathjax') %>
<% } %>
<% } %>
