<link href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4/dist/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
<script>
toastr.options = { // toastr配置
  "closeButton": true, //是否显示关闭按钮
  "debug": false, //是否使用debug模式
  "progressBar": true, //是否显示进度条，当为false时候不显示；当为true时候，显示进度条，当进度条缩短到0时候，消息通知弹窗消失
  "positionClass": "toast-top-right",//显示的动画时间
  "showDuration": "400", //显示的动画时间
  "hideDuration": "1000", //消失的动画时间
  "timeOut": "3000", //展现时间
  "extendedTimeOut": "1000", //加长展示时间
  "showEasing": "swing", //显示时的动画缓冲方式
  "hideEasing": "linear", //消失时的动画缓冲方式
  "showMethod": "fadeIn", //显示时的动画方式
  "hideMethod": "fadeOut" //消失时的动画方式
};
toastr.info("Welcome to my blog!", "LHK Studio");
</script>
<%- partial('_pre') %>
<div class='l_main<%- page.sidebar == false ? ' no_sidebar' : '' %>'>
  <%- partial('_partial/archive') %>
</div>
<%- partial('_partial/side') %>
<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
