<%- partial('_pre') %>
<% page.comments = false; %>
<div class='l_main<%- page.sidebar == false ? ' no_sidebar' : '' %>'>
  <% if (site.posts && site.posts.length > 0) { %>
    <% if (page.layout == 'tag') { %>
        <div class='post-wrapper'>
          <article id="archive-page" class="post article white-box reveal <%- theme.style.body.effect.join(' ') %>">
              <div class="archive-item archive-year mark">
                <h2 class='title'><center><i class='fal fa-tags fa-fw'></i>&nbsp;<%- page.title %></center></h2>
              </div>
              <div class="field is-grouped is-grouped-multiline">
              <% if (site.tags.length){ %>
              <% site.tags.sort('path').each(function(tags){ %>
              <% if (tags.posts.length){ %>
              <div class="control"><a class="tags has-addons" href="<%= url_for(tags.path) %>"><span class="tag"><%= tags.name %></span><span
                    class="tag is-grey-lightest"><%- tags.posts.length %></span></a></div>
              <% } %>
              <% }) %>
              <% } %>
              </div>
          </article>
        </div>
    <% } else { %>
      <%- partial('_partial/archive') %>
    <% } %>
  <% } %>
</div>
<%- partial('_partial/side') %>
<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
